<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    background-color: #8763a2;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    }

#guess
{
    color: #FFEEBD;
}

#result
{
    color: #FFEEBD;
}

#container {
width: 50%;
text-align: center;
margin-right: auto;
margin-left: auto;
}


</style>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div id="container">
    <p>
    <form method="post" th:action="@{/loadgame}">
        <input type="submit" value="Load Word"/>
    </form>
    </p>

    <h2 th:text="'Credits : '+ ${credits}"  th:hidden="${attempt == null}" ></h2>
    <h2 th:text="${attempt} + ' / ' + ${attemptStart}"  th:hidden="${attempt == null}"></h2>
    <b><spam th:text="${guess_message}"></spam></b>
  <h2 id="guess" th:text="${guess}"></h2>
    <b><spam th:text="${message}"></spam></b>
    <h2 id="result" th:text="${result}"></h2>


    <p>
    <form method="post" th:action="@{/guess}" th:object="${guessDTO}">
        <input type="text" th:field="*{guess}" placeholder="5letters"/>
    <input type="submit" value="Guess" th:disabled="${credits == 0}"/>
    </form>
    </p>


    <p>
    <form method="post" th:action="@{/destroy}">
        <input type="submit" value="Play Again"/>
    </form>
    </p>
</div>

</body>
</html>